/*----- GENERAL --------*/
/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,400;0,700;1,300&display=swap');

/* --- PALETA DE COLORES --- */
:root {
  --col-1-fuerte:#F20519;
  --col-general:#D0D7D9;
}

body {
  background-color: var(--col-general);
}




/*----- HEADER --------*/
.header {
  background-color: var(--col-1-fuerte);
  font-family: 'Chivo', sans-serif;
  color: #fff;
  font-size: 1rem;
  margin: auto;
}

.title {
  font-family: 'Chicle', cursive;
  font-size: 2rem;
  padding-left:8rem;
}

.barraNavegacion {
  margin:auto;
}
